/*Schrijf hier jouw css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F3D9;
    font-family: Avenir, Arial, sans-serif;
    color: #030027;
    text-align: center;
}
/*de naam komt automatisch links te staan*/
.brand-naam {
    font-weight: bold;
    text-transform: uppercase;
}

/*Balk verdelening*/
.navigeren {
    background-color: #030027;
    color: #F2F3D9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 30px;
}

/*balk + wat er binnen in zit*/
.navigeren ul {
    display: flex;
    flex-direction: row;
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 1;
    justify-content: space-between;
    list-style: none;
}


.voor-word {
    padding: 40px;
}

.b-container {
    display: flex;
    flex-direction: row;
    margin: 30px 0;
    justify-content: center;
}

.info {
    background-color: #C16E70;
    border-radius: 4px;
    padding: 20px;
    margin: 20px;
    height: 350px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: 280px;
    flex-grow: 0;
    flex-shrink: 1;
}