/*Schrijf hier jouw CSS*/
body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

/*NAV*/
.outer-col-1{
    flex-basis: 15vw;
    flex-grow: 0;
    flex-shrink: 0;
}

/*DIV*/
.outer-col-2{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}
/*aside*/
.inner-row{
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

/*article en footer*/
.inner-col{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

header {
    flex-basis: 150px;
    flex-grow: 0;
    flex-shrink: 0;
}


/*als het mag groeien en krimpen zet het op auto*/


aside{
    flex-basis: 20vw;
    flex-grow: 0;
    flex-shrink: 0;
}

article {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}


footer {
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 0;
}